* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    background-color: black;
}
header > h1 {
    color: #E10000;
}
header > div > input {
    font-size: 15px;
    min-width: 300px;
    padding: 4px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: black;
    color: white;
}
header > div > button {
    margin-left: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: red;
    color: white;
}

/* main */
.album {
    position: relative;
    color: white;
    margin: 10px;
    min-width: 200px;
    min-height: 50px;
    overflow-y: hidden;
}
h3, p {
    padding: 5px 0;
    background-color: rgba(000, 000, 000, 0.8);
    border: 1px solid black;
    /* max-width: 200px; */
    /* min-height: 50px; */
}
main {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
main i {
    color: yellow;
}
main h3 > img {
    width: 25px;
}
.absolute {
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
}