* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    background-color: black;
}
header > h1 {
    color: #E10000;
}
header > div > input {
    min-width: 200px;
    padding: 4px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: black;
    color: white;
}
header > div > button {
    margin-left: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: red;
    color: white;
}
.album {
    color: white;
    margin: 10px;
    min-width: 200px;
    min-height: 50px;
}
h3, p {
    background-color: gray;
    border: 1px solid black;
    max-width: 200px;
    min-height: 50px;
}
main {
    display: flex;
    flex-wrap: wrap;
}