<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title>BoolFlix</title>
</head>
<body>
    <!-- vue -->
    <div id="root">
        <!-- contenitore -->
        <div class="container">
            <!-- intestazione -->
            <header>
                <h1>BOOLFLIX</h1>
                <div>
                    <input v-model='inputCerca' type="text" placeholder="Cerca il tuo film" @keyup.enter='filtra'>
                    <button @click='filtra'>CERCA</button>
                </div>
            </header>
            <main>
                <div class="album" v-for='item, index in arrayFilmLocal'>
                    <h3>{{arrayFilmLocal[index].title}}</h3>
                    <h3>{{arrayFilmLocal[index].original_title}}</h3>
                    <p>{{arrayFilmLocal[index].original_language}}</p>
                    <p v-if='arrayFilmLocal[index].numeroStars == 1' v-html='stellaP + stellaV + stellaV + stellaV + stellaV'></p>
                    <p v-else-if='arrayFilmLocal[index].numeroStars == 2' v-html='stellaP + stellaP + stellaV + stellaV + stellaV'></p>
                    <p v-else-if='arrayFilmLocal[index].numeroStars == 3' v-html='stellaP + stellaP + stellaP + stellaV + stellaV'></p>
                    <p v-else-if='arrayFilmLocal[index].numeroStars == 4' v-html='stellaP + stellaP + stellaP + stellaP + stellaV'></p>
                    <p v-else-if='arrayFilmLocal[index].numeroStars == 5' v-html='stellaP + stellaP + stellaP + stellaP + stellaP'></p>
                    <p v-else v-html='stellaV + stellaV + stellaV + stellaV + stellaV'></p>
                </div>
            </main>
        </div>
    </div>

    <!-- script -->
    <script src="js/script.js"></script>
</body>
</html>